﻿
@{
    ViewData["Title"] = "CDN Lab Four";
}

<h2>CDN Lab Four</h2>

<h1>@ViewBag.Message</h1>

<table class="table">
    <tr>
        <th>Purge</th>
    </tr>
    <tr>
        <td>
            <a href="@ViewBag.URL" target="_blank">Purge CDN Content</a>
        </td>
    </tr>
    <tr>
        <td>
            <ol>
                <li>Click on above link </li>
                <li>Click on the <b>Actions (POST. DELETE)</b> tab </li>
                <li>Click on the <b>purge</b> blue button to purge </li>
            </ol>
        </td>
    </tr>

</table>