﻿
@{
    ViewData["Title"] = "PaaSDev.L200.CDN.2";
}

<h2>PaaSDev.L200.CDN.2</h2>

<h1>@ViewBag.Message</h1>


<div class="form-horizontal">
   
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" id="driver" class="btn btn-default"
                   value="Get data from CDN" />
        </div>
    </div>
</div>


<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
</script>

<script type="text/javascript" language="javascript">
         $(document).ready(function() {

            $("#driver").click(function(event){
               $.get(
                  "@ViewBag.DocURLTwo",
                   function (data, status, xhr) {
                    //   alert("STATUS: " + status + " XHR: " +xhr +  " DATA: " + data)
                       if (status == "success") {
                           var ct = xhr.getResponseHeader("content-type") || "";
                           if (ct.indexOf('application/octet-stream') > -1) {
                               alert("Failed. Response from CDN is compressed.");
                           }
                           else {
                               alert("Successful. Response from CDN is not compressed.");
                           }
                       }
                       else {
                           alert("Failed. Call to CDN failed.");
                       }
                  }
               );
            });

         });
</script>	