﻿
@{
    ViewData["Title"] = "APIM Lab One";
}

<h2>APIM Lab One</h2>


<div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">Subscription Key (Ocp-Apim-Subscription-Key) </label>
            <div class="col-md-10">
                <input htmlAttributes="{ class = form-control }" id="key" name="key" type="text" />
            </div>
        </div>
    <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="driver" class="btn btn-default"
                       value="Invoke API" />
            </div>
        </div>
</div>

<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
</script>

<script type="text/javascript" language="javascript">
         $(document).ready(function() {

             $("#driver").click(function (event) {
                 var key = $("#key").val()
                 $.ajax({
                     url: "@ViewBag.APIMUrl",
                     type: "GET",
                     beforeSend: function (xhr) { xhr.setRequestHeader('Ocp-Apim-Subscription-Key', key); },
                     success: function () { alert('Success!'); },
                     error: function () { alert('Failed!'); }
                 });
             });
         });
</script>

